body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header, footer {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-bottom: 20px;
}


.btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

 

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

footer {
  background-color: #007bff;
  color: #fff;
  padding: 20px 40px;
  text-align: left; /* Aligns text to the left */
}

footer h2 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

footer p {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.6;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}


#skills {
  text-align: left;
  padding: 20px 0;
}

#skills h2 {
  text-align: center;
  margin-bottom: 15px;
}

.skills-list {
  list-style: disc inside;
  padding-left: 20px;
  font-size: 1rem;
  line-height: 1.8;
}

.skills-list li {
  margin: 10px 0;
}


